/*! Luego separar estilos por archivos */

body {
	background: #f3f5fc;
	font-family: "Inter", sans-serif;
	font-family: "Montserrat", sans-serif;
}

fieldset {
	border-style: none;
	margin: 0%;
	padding: 0%;
}

button {
	border-style: none;
}

header img {
	margin-top: 1.5rem;
	margin-left: 1rem;
}

.hidden {
	display: none;
}

.texto-a-modificar-container {
	margin-top: 5rem;
	margin-left: 1rem;

	display: inline;
}

.texto-a-modificar-container textarea {
	background: #f3f5fc;
	color: #0a3871;

	width: 90vw;
	height: 30vh;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}

.texto-a-modificar-container textarea::-webkit-input-placeholder {
	color: #0a3871;
}

.texto-a-modificar-container textarea::-moz-placeholder {
	color: #0a3871;
}

.texto-a-modificar-container textarea:-ms-input-placeholder {
	color: #0a3871;
}

.texto-a-modificar-container textarea::-ms-input-placeholder {
	color: #0a3871;
}

.texto-a-modificar-container textarea::placeholder {
	color: #0a3871;
}

.consejo {
	/* Solo letras minúsculas y sin acentos */

	width: 205px;
	height: 18px;
	margin-left: 1rem;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	/* identical to box height, or 18px */

	/* Gray/gray-400 */

	color: #495057;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.consejo::before {
	content: url("../Imagenes/Consejo.svg");
	margin-right: 0.5rem;
}

.texto-modificado-container {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px;
	gap: 32px;
	margin: 0 1rem;
	margin-bottom: 2rem;

	/* Acá le saque el position absoluto que viene siempre */

	/* White */

	background: #ffffff;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}

.texto-no-ingresado {
	margin: auto;
}

.texto-no-ingresado-aviso {
	/* Ningún mensaje fue encontrado */

	width: 263px;
	height: 58px;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* or 29px */

	text-align: center;

	/* Gray/gray-500 */

	color: #343a40;

	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.texto-no-ingresado-consejo {
	/* Ingresa el texto que desees encriptar o desencriptar. */

	width: 263px;
	height: 48px;
	margin-top: 1rem;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	text-align: center;

	/* Gray/gray-400 */

	color: #495057;

	/* Inside auto layout */

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.texto-final-container {
	margin: auto;
}


.texto-final {
	word-break: break-word;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	/* or 36px */

	/* Gray/gray-400 */

	color: #495057;

	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin-bottom: 2rem;
}
